{% extends 'base.html.twig' %}

{% block title %}Maker{% endblock %}

{% block body %}
    <h1>Maker</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ maker.name }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ maker.logo }}</td>
            </tr>
            <tr>
                <th>objeto:</th>
                {% for item in items %}
                    <tr>
                        <td>{{item.name}}</td>
                    </tr>
                {% endfor %}
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_maker_index') }}">back to list</a>

    {# <a href="{{ path('app_maker_edit', {'id': maker.id}) }}">edit</a> #}

    {{ include('maker/_delete_form.html.twig') }}
{% endblock %}
