{% extends 'base.html.twig' %}

{% block title %}UserItem index{% endblock %}

{% block body %}
    <h1>UserItem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_item in user_items %}
            <tr>
                <td>{{ user_item.id }}</td>
                <td>{{ user_item.price }}</td>
                <td>
                    <a href="{{ path('app_user_item_show', {'id': user_item.id}) }}">show</a>
                    <a href="{{ path('app_user_item_edit', {'id': user_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_item_new') }}">Create new</a>
{% endblock %}
