{% extends 'base.html.twig' %}

{% block title %}Item index
{% endblock %}

{% block body %}
	<h1>Items</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Picture</th>
				<th>StartingPrice</th>
				<th>CurrentPrice</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td>{{ item.id }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.picture }}</td>
					<td>{{ item.startingPrice }}</td>
					<td>{{ item.currentPrice }}</td>
					<a href="/chooseStack">Añadir objeto a Colección</a>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="/">back to main</a>
{% endblock %}
