{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}
    <h1>Item index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>StartingPrice</th>
                <th>CurrentPrice</th>
                <th>Show</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.picture }}</td>
                <td>{{ item.startingPrice }}</td>
                <td>{{ item.currentPrice }}</td>
                <td>{{ item.show }}</td>
                <td>
                    <a href="{{ path('app_item_show', {'id': item.id}) }}">show</a>
                    <a href="{{ path('app_item_edit', {'id': item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_item_new') }}">Create new</a>
{% endblock %}
